{{ define "title" }}
    密码重置链接
{{ end }}

{{ define "style" }}
{{ end }}

{{ define "js" }}
{{ end }}

{{ define "content" }}
    <div class="page-reset">
        <p>确认打开 {{ .ResetURL }}</p></br>
        <a href="{{.HrefURL}}">点击进入</a>
    </div>
{{ end }}