{{ define "title" }}
	地平线统一登录平台
{{ end }}

{{ define "style" }}
    <link rel="stylesheet" href="static/style.css?version={{ .Version }}">
{{ end }}

{{ define "js" }}
{{ end }}

{{ define "content" }}
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>开发账号登录</h1>
            </div>
            <form class="login-form"  action="{{ .URL }}" method="POST">
				<input type="hidden" name="csrf_token" value={{ .CSRFToken }}>
				<input type="hidden" name="login_challenge" value={{ .Challenge }}>
                <div class="control-group">
					<input type="text" class="login-field" value="" placeholder="用户名"  name="username" id="login-user" required>
					<label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
					<input type="password" class="login-field" value="" placeholder="密码" name="password" id="login-pass" required>
					<label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
				<div class="checkbox">
					<input type="checkbox"  checked="true" name="remember" class="input-box" value="on" id="login-remember"/>
					<label>在24小时内保持登录</label>
				</div>
                <button class="btn btn-primary btn-large btn-block" type="submit">登录</button>
                {{ if .Challenge }}
                    <a class="login-link" href="/auth/forget?login_challenge={{ .Challenge }}">忘记密码?</a>
                {{ else }}
                    <a class="login-link" href="/auth/forget">忘记密码?</a>
                {{ end }}
            </form>
            {{ if .InvalidForm }}
                <p class = "message">
                    {{.ErrorMessage}}
                </p>
            {{ else if .SuccForm}}
                <p class = "message-succ">
                    {{.ErrorMessage}}
                </p>
            {{ else }}
                &nbsp;
            {{ end }}
        </div>
    </div>
{{ end }}
