{{ define "title" }}
	{{ .Title }}
{{ end }}

{{ define "style" }}
	  <link rel="stylesheet" href="static/style.css?version={{ .Version }}">
{{ end }}

{{ define "js" }}
{{ end }}

{{ define "content" }}
    <div class="login">
        <div class="login-screen" style="padding-bottom: 20px!important;">
            {{ .NotifyMessage }}
        </div>
    </div>
{{ end }}
